QWidget {
    background-color: black;
    color: red;
    font-family: Arial;
    font-size: 20px;
}

QFrame {
    border: 1px solid red;
    border-radius: 1px;
}

QLabel {
    border: none;
}

QPushButton {
    border: 1px solid red;
    border-radius: 5px;
}

QPushButton:disabled {
    color: #500000;
    border: 1px solid #500000;
}

QPushButton:pressed {
    background-color: #500000;
    color: #000000;
    border: 1px solid #300000;
}
